<!DOCTYPE html>
<html>

<head>
    <title>Navigation Buttons</title>
    <link rel="stylesheet" href="styles.css">
    </link>
</head>

<body>

    <button class="nav-button" onclick="location.href='/'">
        <i class="fas fa-home"></i> Home
    </button>

    <button class="nav-button" onclick="location.href='/about'">
        <i class="fas fa-info-circle"></i> About Us
    </button>

    <button class="nav-button" onclick="location.href='/contact'">
        <i class="fas fa-envelope"></i> Contact Us
    </button>

    <button class="nav-button" onclick="location.href='/register'">
        <i class="fas fa-user-plus"></i> Register
    </button>

    <button class="nav-button" onclick="location.href='/login'">
        <i class="fas fa-sign-in-alt"></i> Login
    </button>


</body>

</html>