body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #848ce5;
    color: #f0dcdc;
    text-align: center;
}

h1{
    color: #ffcc00;   
    text-align: center;
    font-size: 2em;
}